
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row" style="margin-bottom: 30px; margin-top: 75px;">
        <div class="col-xs-12">
            <h1 class="impactTitles" style="font-weight:bold;">IMPACT <br> <small>This is our impact story</small></h1>
        </div>
        <div class="col-xs-6 col-md-offset-3">
            <h4 class="impactTitles" style="color: #999999;">Fashion is broken. Garments, products of delicate labour and precious resources, have lost their value. We buy more and use them less than ever packing our wardrobes, filling landfills and fueling incinerators. VAMA exist to end this.</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-bottom: 30px">
        <div class="col-xs-12">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/290093378?color=75D79E&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-bottom: 30px">
        <div class="col-xs-12">
            <h1 class="impactTitles" style="font-weight:bold;">QUALITY <br> <small>We remain high quailty products, always.</small> </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-xs-6">
            <img style="width:100%" src="~/Content/Images/Impact page/T66505002_284_detail2.jpg" alt="#">
        </div>

        <div class="col-xs-6">
            <img style="width:100%" src="~/Content/Images/Impact page/T66505002_284_main.jpg" alt="#">
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-bottom: 30px">
        <div class="col-xs-6">
            <p>
                <strong>Body Fabric Composition</strong>: 98% cotton, 2% elastane<br>
                <strong>Body fabric</strong>: 260gsqm brushed satin, woven in Italy<br>
                <strong>Lining</strong>: 100% cotton<br>
                <strong>Buttons</strong>: Natural horn, made in Italy<br>
                <strong>Dye</strong>: Piece Dye<br>
                <strong>Woven in</strong>: Milan, Italy See the factory<br>
                <strong>Made in</strong>: Esposende, Portugal. See the factory<br>
            </p>
        </div>

        <div class="col-xs-6">
            <p style="max-width: 475px;">Both outer fabric and inner lining of the suit are supplied by Italian mills based just outside of Milano. Our main fabric is a mid-weight satin weave that combines comfort, durability, color depth and drape like nothing you've seen before. The satin weave features a more subtle optical structure than the more common twill and the discrete percentage of stretch adds comfort and durability without compromising the touch. Added to that, we've lightly brushed the surface, lending a warmer hand feel and a deep and cloudy matt shade. We've matched it with tonal Italian herringbone pocket lining and interior seam binding for a subtle structural contrast on the inside. In plain words, materials and sartorial details that epitomize our beloved phrase 'free of compromise, full of love'.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-bottom: 80px">
        <div class="col-xs-12">
            <h1 class="impactTitles" style="font-weight:bold;">TRACEABILITY</h1>
            <h3 class="impactTitles" style="margin-bottom: 20px; color: #999999;">
                Our clothing is slow fashion and ethically made.<br>
                Therefore we are not afraid to show our traceability of our products.<br>
                Below the journey for the Jile Suit.
            </h3>
        </div>

        <div class="col-xs-8 col-md-offset-2">
            <h4 class="impactTitles" style="color: #999999;"><strong>Fabric</strong>:  Cotton Farmed in USA, carded and spun in Taranto, Italy. Elastane - researching origin. Elastane spun in Kahramanmaraş, Turkey. Cotton-elastane yarn twisted in Taranto, Italy. Fabric woven in Taranto or woven and finished in Milan, Italy. <strong>Lining</strong>:  Cotton - researching origin. Yarn spun in Asia - researching origin. Weaving in Pakistan. Dye and finish in Coarezza, Italy. <strong>Fusing</strong>:  Cotton origin - researching origin. Produced in Germany. <strong>Buttons</strong>:  Real horn from water buffalo, India (Chennai Bombay and Delhi) Button produced in Bergamo, Italy. <strong>Hook & Bar</strong>:  Raw material - researching origin. Manufactured in Italy. <strong>Zipper</strong>:  Raw material origin Kurobe, Japan. Manufacturing made in Alenquer, Portugal. <strong>Puller</strong>:  Raw material origin Kurobe, Japan. Manufacturing made in Ascoli Piceno, Italy. <strong>Sewing Thread</strong>:  Researching origin. <strong>Hangtag</strong>:  Paper pulp and hangtag produced in Dongguan, China. Polyester produced, spun and twisted to string in Dongguan, China. <strong>Care Label</strong>:  Polyester, spun, woven and printed in Dongguan, China. <strong>Main Label</strong>:  Polyester, spun and woven in Dongguan, China. <strong>Garment construction</strong>:  Cut and sewn in Esposende, Portugal. Trimmed and packed in Vila Nova de Famalicao, Portugal. Washed in Varzea, Portugal. <strong>Packaging</strong>:  Plastic from the UK, bag made in Vojens, Denmark. <strong>Storage & shipping</strong>:  Stored in and shipped from Tallinn, Estonia Shipped in carton boxes made in Värnamo, Sweden.</h4>
        </div>
    </div>
</div>
