@{
    ViewBag.Title = "Index";
    ViewBag.InvertedNavigation = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
    <div class="jumbotron specialjum">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 content centered-text">
                    <h1>
                        Environemntal renting. <br />
                        Simple, fast and trustworthy
                    </h1>
                    <div>
                        @Html.Partial("~/Views/Filtering/Form.cshtml", "quicksearch")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*START: How it works*@
<div class="row section informational-section">
    <div class="col-md-12 text-center">
        <h2>How renting works?</h2>
        <h3 class="subheading">It only takes a few minutes to rent</h3>
    </div>
    <div class="col-md-4">
        <div class="information-widget centered-text">
            <span class="number">1</span>
            <h3>Find clothing</h3>
            <p>
                Browse our shop and find the perfect dress or suit for your special occasion event.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="information-widget centered-text">
            <span class="number">2</span>
            <h3>Find clothing</h3>
            <p>
                Browse our shop and find the perfect dress or suit for your special occasion event.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="information-widget centered-text">
            <span class="number">3</span>
            <h3>Find clothing</h3>
            <p>
                Browse our shop and find the perfect dress or suit for your special occasion event.
            </p>
        </div>
    </div>
</div>
@*END: How it works*@


@*START: Rent now*@
<div class="row section rent-now-section">
    <div class="col col-md-6">
        <div class="rent-now-widget">
            <div class="action-overlay centered-text">
                <span class="title">
                    Suits
                </span>
                <a href="/Shop/Filtered?colors=&types=Suit&sizes=&fits=" class="btn btn-success vama-button">Rent today</a>
            </div>
            <img class="img-responsive" src="~/Content/Images/T66519001_M04_lookbook2.jpg" />
        </div>
    </div>
    <div class="col col-md-6">
        <div class="rent-now-widget">
            <div class="action-overlay centered-text">
                <span class="title">
                    Dresses
                </span>
                <a href="/Shop/Filtered?colors=&types=Dress&sizes=&fits=" class="btn btn-success vama-button">Rent today</a>
            </div>
            <img class="img-responsive" src="~/Content/Images/S41939018Z_050_lookbook2.jpg" />
        </div>
    </div>

</div>
@*END: Rent now*@

@*START: Impact*@
<div class="row section text-section">
    <div class="col col-md-8 col-md-offset-2 centered-text">
        <h2>Impact</h2>
        <h3 class="subheading">We love our planet and therefore protect it</h3>
        <p>
            Fashion is broken. Garments, products of delicate labour and precious resources, have lost their value. We buy more and use them less than ever packing our wardrobes, filling landfills and fueling incinerators.
        </p>
        <p>
            VAMA exists to end this. We won't design ever, but reuse existing quality products. Meaningful essentials - designed to stand the test of time, both in craftmanship and design. Our idea of impact is less waste, no plastic use, less pollution and smoke.
        </p>
        <a href="/impact" class="btn btn-success vama-button">
            Read more
        </a>
    </div>
</div>
@*END: Impact*@

@*START: TESTEMONIALS*@
<div class="row section testemonials-section">
    <div class="col-md-12 text-center">
        <h2>Testemonials</h2>
        <h3 class="subheading">What our lovely customers say</h3>
    </div>
    <div class="col col-md-6 col-testemonial">
        <div class="testemonial-widget">
            <img class="img-responsive" src="/Content/Images/Checkout/T66505002_284_lookbook2.jpg" />
            <span class="quotes">"</span>
            <p>I heard about renting dresses instead of keeeping buying new ones. So, I tried out VAMA and could not be happier! Bautiful dresses and grat customer service. </p>
        </div>
    </div>
    <div class="col col-md-6 col-testemonial">
        <div class="testemonial-widget">
            <img class="img-responsive" src="/Content/Images/Checkout/T66505002_284_lookbook2.jpg" />
            <span class="quotes">"</span>
            <p>After trying out VAMA I'll for sure recommend it for my friends. I love their focus on the environment and saving the planet too! #ThisIsAmazing</p>
        </div>
    </div>
</div>

@*END: TESTEMONIALS*@


@section scripts
{
    <script src="~/Scripts/FilteringForm.js"></script>
}
