body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif;
}

.navbar.navbar-inverse {
    background-color: transparent !important;
    border-bottom: none;
}

.navbar.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.navbar.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.navbar.navbar-inverse.scrolled .navbar-brand {
    color: dimgray;
}

.navbar.navbar-inverse.scrolled .navbar-nav > li > a {
    color: dimgray;
}

.vama-button {
    border: none;
    background-color: #75d79d;
    border-radius: 0;
}

.centered-text {
    text-align: center;
}

/*footer*/

footer {
    background-color: #75d79d;
    color: white;
    padding: 30px 0px;
}

footer h4 {
    font-weight: bold;
    font-size: 14px;
}

footer ul {
    margin: 0px;
    padding: 0px;
}

footer ul li {
    list-style-type: none;
}