

.specialjum {
background: url('/Content/Images/Banner.png') center;
color:#fff;
background-size: cover; 
}

.inner{
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
}

.closing{
  padding:20px;
  background-color:#75D79D;
  height: 258px;
}

.card {
  padding-right: 10px;

  font-family:Roboto;
}

a {
    color: black;
    text-decoration: none;
}
.navbar-toggle .icon-bar {
    background-color: black;
}

img.products {
    padding:10px;
    height: 300px;
}

.impact-page .impactTitles {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.impact-page p {
    color: #999999;
}

.impact-page strong {
    color: #333333;
    opacity: 0.75;
}