<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rentingwebsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rentingwebsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RentingWebsite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RentingWebsite</UserName>
    <_SavePWD>False</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RentingWebsite.Models.ApplicationDbContext, RentingWebsite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RentingWebsiteEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RentingWebsite.Models.RentingWebsiteEntities, RentingWebsite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RentingWebsiteEntities2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RentingWebsite.Models.RentingWebsiteEntities2, RentingWebsite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RentingWebsiteEntities1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=cloud5.database.windows.net;Initial Catalog=RentingWebsite;User ID=Inter2;Password=Webdevelopment!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RentingWebsiteEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.UserDbModel.csdl|res://*/Models.UserDbModel.ssdl|res://*/Models.UserDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cloud5.database.windows.net;initial catalog=RentingWebsite;user id=Inter2;password=Webdevelopment!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RentingWebsiteEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RentingWebsiteEntities2-Web.config Connection String" />
  </ItemGroup>
</Project>